body {
  margin: auto;
  margin-top: 60px;
  padding: 0;
  font-family: sans-serif;
}

#titulo{
  text-align: center;
}

.second-half-column{
  float: right;
  margin-right: 35%;
  margin-top: -10%;
}

.Alta{
  margin-left: 35%;
}

.u-full-width {
  width: 13%;
  box-sizing: border-box; }